function Main.main 1
push constant 10
call String.new 1
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
call Output.printString 1
pop temp 0
call Tilemap.new 0
pop temp 0
push constant 1
push constant 3
push constant 0
call ActionDug.new 3
pop local 0
label WHILE_EXP0
push constant 1
push constant 1
eq
not
if-goto WHILE_END0
call ActionDug.move 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
